{% load url from future %}
<h1>{{ buy.get_menu.store_name }} : TEL {{ buy.get_menu.tele_num }}</h1>
{% load tz %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



<form action="{% url 'menu:start_order' %}" method="post">
{% csrf_token %}
<input type="hidden" name="buy_pk" value="{{buy.pk}}">
{% for dish in buy.get_menu.dish_set.all %}
	<input type="radio" name="dish" value="{{ dish.pk }}" />{{ dish.dish_name }} : {{ dish.price }} <br/>
{% endfor %}
<input type="submit" value="Order" />
</form>
