{% extends "base.html" %}
<h1>{{ buy.get_menu.store_name }} : TEL {{ buy.get_menu.tele_num }}</h1>
{% load tz %}
{% block content %}


<form action="{% url 'menu:start_order' %}" method="post">
{% csrf_token %}
<input type="hidden" name="buy_pk" value="{{buy.pk}}">
{% for dish in buy.get_menu.dish_set.all %}
	{% if forloop.first %}
		<input type="radio" name="dish" value="{{ dish.pk }}" checked>{{ dish.dish_name }} : {{ dish.price }} <br/>
	{% else %}
		<input type="radio" name="dish" value="{{ dish.pk }}">{{ dish.dish_name }} : {{ dish.price }} <br/>
	{% endif %}
{% endfor %}
<p>數量<input type="number" name="count" min="1" max="10" value="1"/></p>
<input type="submit" value="Order" />
</form>
{% endblock %}