{% extends "base.html" %}
<h1>{{ buy.get_menu.store_name }} : TEL {{ buy.get_menu.tele_num }}</h1>

{% block content %}
<table class="table">
	<tr>				
		<td>品名</td>
		<td>數量</td>
		<td>訂購者</td>
		<td>單價</td>				
	</tr>
	{% for name, v in buy.orderlist.items %}
	{% if name != "Total" %}
	<tr>				
		<td>{{ name }}</td>
		<td>{{ v.0 }}</td>
		<td>{{ v.1 }}</td>
		<td>{{ v.2 }}</td>
		{{ total|add:v.2}}				
	</tr>
	{% endif %}
	{% endfor %}
	
	{% for name, v in buy.orderlist.items %}
	{% if name == "Total" %}
	<tr>				
		<td>{{ name }}</td>
		<td>{{ v.0 }}</td>
		<td>{{ v.1 }}</td>
		<td>{{ v.2 }}</td>
		{{ total|add:v.2}}				
	</tr>
	{% endif %}
	{% endfor %}

</table>
{% endblock %}