<html lang="en">
	<head>
	  <meta charset="utf-8">
	  
	</head>
	<body>

{% extends "base.html" %}
{% load tz %}

{% block content %}
<h1>{{ menu.store_name }} : TEL {{ menu.tele_num }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for dish in menu.dish_set.all %}
	<li>{{ dish.dish_name }} : {{dish.price}} </li>	
{% endfor %}

<form action="{% url 'menu:start_buy' %}" method="post">
{% csrf_token %}
<input type="hidden" name="menu_pk" value="{{menu.pk}}">
<p>開始時間<input type="datetime" name="start_time" value="{% now "Y-m-d H:i" %}" id="start_time"/></p>
<p>結束時間<input type="datetime" name="end_time" value="{% now "Y-m-d H:i" %}" id="end_time"/></p>
<input type="submit" value="開始團購" />
</form>
{% endblock %}
</html>