{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
{% if latest_menu_list %}
    <ul>
    {% for menu in latest_menu_list %}
    
        <li><a href="{% url 'menu:detail' menu.id %}">{{ menu.store_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Menu are available.</p>
{% endif %}

<form action="{% url 'menu:add_menu' %}" method="post">
{% csrf_token %}
<textarea name="menu_text" value=""> </textarea>
<br/>
<input type="submit" value="Add to Menu" />
</form>
{% endblock %}