{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% if latest_menu_list %}
    <ul class="list-group">
    {% for menu in latest_menu_list %}    
        <li class="list-group-item"><a href="{% url 'menu:detail' menu.id %}">{{ menu.store_name }}
        {% if menu.misc %}
        	({{ menu.misc }})
        {% endif %}
        </a>
        - {{ menu.tickets }}票
        {% if user not in menu.vote_list %}
        	<a href="{% url 'menu:vote' menu.id %}">[推薦]</a>
        {% else %}
        	[你已推薦]
        {% endif %}
        
        
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Menu are available.</p>
{% endif %}


{% endblock %}