{% extends "base.html" %}

{% block content %}
{% if latest_buy_list %}
<table class="table" >
<tr>
<td>#</td>
<td>店家名稱</td>
<td>訂購品項</td>
<td>發起人</td>
<td>截止時間</td>
<td>狀態</td>
</tr>  
    {% for buy in latest_buy_list %}
        <tr
        {% if buy.type == 0 %}
        	class="warning"
        {% else %}
        	class="info"
        {% endif %}
        >
        <td>
        {{ buy.pk }}
        </td>
        
        <td><a href="{% url 'menu:buy_list' buy.pk %}">{{buy.get_menu}}</a></td>        
        <td>
		{% for order in buy.get_order %}			       
			{% if user.pk == order.buyer %}
				<span class="label label-success">{{ order.get_dish }} <span class="badge">{{order.count}}</span></span>
			{% endif %}
		{% endfor %}       
        </td>        
        
        <td>{{buy.get_issuer}}</td>
		<td>{{buy.end_date|date:"Y-m-d H:i l"}}
		</td>
		{% if buy.status == 0 %}
			<td>
			{% if buy.end_date.date < today.date %}
				<span class="label label-default">結束</span>
			{% else %}
				<span class="label label-success">開團</span>
			{% endif %}			
			</td>
		{% else %}
			<td><span class="label label-danger">流標</span></td>
		{% endif %}
		
		</tr>
       
    {% endfor %}
</table>   
{% else %}
    <p>No Menu are available.</p>
{% endif %}
{% endblock %}
