{% extends "base.html" %}

{% block content %}
{% if latest_buy_list %}
<table class="table">
<tr>
<td>訂單編號</td>
<td>店家名稱</td>
<td>開始訂購</td>
<td>訂購品項[數量]</td>
<td>發起人</td>
<td>截止時間</td>
</tr>    
    {% for buy in latest_buy_list %}    	    
        {% if buy.status == 0 %}
		       <tr>
		       <td>
				{{ buy.pk }}
			   </td>
		       <td><a href="{% url 'menu:buy_list' buy.pk %}">{{buy.get_menu}}</a></td>
		       <td><a href="{% url 'menu:buy' buy.pk %}" class="btn btn-primary" role="button">我要訂</a></td>
		       <td>
		              
				{% for order in buy.order_set.all %}			       
					{% if user.pk == order.buyer %}
						<a href="{% url 'menu:del_order' order.pk %}" class="btn btn-success" role="button">{{ order.get_dish }} <span class="badge">{{order.count}}</span></a>
					{% endif %}
				{% endfor %}
		      
		       </td>        
		       
		       <td>{{ buy.get_issuer }}</td>
			<td>{{ buy.end_date|date:"Y-m-d H:i l" }}
			</td>
			</tr>
		{% endif %}
       
    {% endfor %}
</table>   
{% else %}
    <p>No Menu are available.</p>
{% endif %}
{% endblock %}