{% load staticfiles %}
{% load url from future %}

<link rel="stylesheet" type="text/css" href="{% static 'menu/style.css' %}" />
<a href="{% url 'menu:index' %}">Menu</a> <a href="{% url 'logout' %}">Logout</a>
<br/>
{% if latest_buy_list %}
    <ul>
    {% for buy in latest_buy_list %}    
        <li><a href="{% url 'menu:buy' buy.menu_id %}">{{buy.get_menu}}</a> by: {{buy.get_issuer}} <br/> {{buy.start_date|date:"Y-m-d H:i"}} </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Menu are available.</p>
{% endif %}
