{% extends "base.html" %}

{% block content %}
{% if latest_buy_list %}
<table frame="border" rules="all">
<tr>
<td>店家名稱</td>
<td>開始訂購</td>
<td>訂購品項</td>
<td>發起人</td>
<td>截止時間</td>
</tr>    
    {% for buy in latest_buy_list %}    	    
        
        <tr>
        <td><a href="{% url 'menu:buy_list' buy.pk %}">{{buy.get_menu}}</a></td>
        <td><a href="{% url 'menu:buy' buy.pk %}">我要訂</a></td>
        <td>        
        {% for order in buy.order_set.all %}
	        {% if user.pk == order.buyer %}        
	        	{{ order.get_dish }}[{{ order.get_dish.price }}] <a href="{% url 'menu:del_order' order.pk %}">X</a>       
	        {% endif %}
        {% endfor %}
        </td>        
        
        <td>{{ buy.get_issuer }}</td>
		<td>{{ buy.end_date|date:"Y-m-d H:i l" }}
		</td>
		</tr>
       
    {% endfor %}
</table>   
{% else %}
    <p>No Menu are available.</p>
{% endif %}
{% endblock %}