{% extends "base.html" %}

{% block content %}
{% if latest_log_list %}
<table class="table" >
<tr>
<td>#</td>
<td>店家名稱</td>
<td>訂購人</td>
<td>訂購品項</td>
<td>數量</td>
<td>交易金額</td>
<td>結餘</td>
<td>記錄時間</td>
<td>附註</td>

</tr>  
    {% for log in latest_log_list %}
        <tr>
		<td>
		{{ log.pk }}
		</td>
		{% if log.order.buy.get_menu %}
		<td> {{log.order.buy.get_menu}}</td>
		<td> {{log.money.user}}</td>
		<td> {{log.order.get_dish}}</td>        
		{% else %}        
		<td> 系統 </td>
		<td> {{log.money.user}}</td>
		<td> 儲值 </td>        
		{% endif %}
		<td> {{log.order.count}}</td>
		<td> {{log.cost}}</td>
		<td>{{log.left}}</td>
		<td>{{log.log_time|date:"Y-m-d H:i"}}</td> 
		<td>{{log.reason}}</td>       
	</tr>
		
       
    {% endfor %}
</table>   
{% else %}
    <p>No Menu are available.</p>
{% endif %}
{% endblock %}
