{% extends "base.html" %}
{% load tz %}

{% block content %}
{% if all_money_list %}
    <table class="table">
    <tr>
	<td>使用者</td>
	<td>結餘</td>
	<td>增減(+/-)</td>
	<td></td>
    </tr> 
    <tr>
    {% for money in all_money_list %}
    {% if money.user.is_active %}
                <form action="{% url 'menu:change_money' %}" method="post">
		{% csrf_token %}
		<td>{{money.user}} </td>
		<td>{{money.total}}
		<input type="hidden" name="userid" value="{{money.user.pk}}"></td>
		<td><input type="text" name="change_money" value="0"></td>
		<td><input type="submit" value="加值" /></td>
	</form>
	</tr>
        
    {% endif %}
    {% endfor %}
    <tr>
	<td>結餘</td>
	<td>{{total}}</td>
	<td></td>
	<td></td>
    </tr> 
    <tr>
    </table>
{% else %}
    <p>No Money are available.</p>
{% endif %}

{% endblock %}
